services:
  mongo:
    image: mongo:6.0
    container_name: mongodbx
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

  app:
    build: .
    container_name: testapp
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_URL: mongodb://admin:password@mongo:27017/?authSource=admin
    volumes:
<<<<<<< HEAD
      - ./node_modules:/testapp/node_modules
=======
>>>>>>> 76e58195125906732d2f64ab1cbe6932b091a743
      - .:/testapp
    depends_on:
      - mongo

volumes:
  mongo_data:
